---
---

@import "{{ site.theme }}";

body {
  color: white !important;
  background: transparent !important;
}

h1, h2, h3, h4, h5, h6,
p, li, strong, small, th, td {
  color: white !important;
}

.showcase-image {
  display: block;
  width: 100%;
  height: auto !important;
}
