$body-background-color: transparent;
$body-text-color: #fff;
$body-link-color: #fff;
$section-headings-color: #fff;
$blockquote-text-color: #fff;

@import "{{ site.theme }}";

.showcase-image {
  display: block;
  width: 100%;
  height: auto !important;
}